@keyframes bord {
  25% {
    border-top: 3px solid #f39d126c;
  }
  50% {
    border-right: 3px solid #f39d126c;
  }
  75% {
    border-bottom: 3px solid #f39d126c;
  }
  100% {
    border-top: 3px solid #f39d126c;
    border-right: 3px solid #f39d126c;
    border-bottom: 3px solid #f39d126c;
    border-left: 3px solid #f39d126c;
  }
}

@keyframes bell {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes aument {
  25% {
    opacity: .9;
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: .7;
  }
  55% {
    opacity: .5;
  }
  60% {
    opacity: .4;
  }
  70% {
    opacity: .3;
  }
  80% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
