body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.home {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "sidebar principal" "sidebar principal";
}

.home.active {
  grid-template-areas: "principal principal" "principal principal";
}

.home-sidebar {
  color: #B7C5CA;
  background: #222D33;
  grid-area: sidebar;
}

.home-sidebar.active {
  display: none;
}

.home-sidebar .logo {
  display: block;
  text-align: center;
  justify-content: center;
  color: #fff;
  position: sticky;
  top: 20px;
}

.home-sidebar p {
  margin-top: -20px;
}

.home-sidebar .sideBar {
  position: fixed;
  width: 230px;
  list-style: none;
}

.home-sidebar .sideBar .item a {
  font-weight: 450;
  text-decoration: none;
  color: #B7C5CA;
}

.home-sidebar .sideBar .item a:hover {
  transition: color 1.5s;
  transition: text-shadow .8s;
  text-shadow: 0px 0px 10px #757575;
  color: #fff;
}

.item {
  border-top: 3px solid #73797e;
  overflow: hidden;
}

.item .btn {
  display: block;
  padding: 16px 20px;
  position: relative;
  background: #1E272C;
}

.item .btn:after {
  z-index: 9;
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #1E272C;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.item .btn i {
  margin-right: 10px;
}

.item:target .smenu {
  max-height: 10em;
}

.smenu {
  background: #2A3B43;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0px;
}

.smenu a {
  display: block;
  padding: 16px 26px;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}

.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #B7C5CA;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}

.smenu a:hover:before {
  opacity: 1;
}

.smenu .active {
  background: rgba(72, 82, 87, 0.856);
  z-index: 1;
}

.navBar {
  grid-area: navBar;
  box-shadow: 0px 5px 20px #888888;
  background: #fff;
  position: sticky;
  top: 0;
}

.lading-page {
  grid-area: work;
}

.principal {
  background: #F0F0F0;
  grid-area: principal;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "navBar navBar" "work work";
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 30px 15px 1px;
}

.navBar a {
  text-decoration: none;
}

.navBar .bar-left {
  display: flex;
  flex-direction: row;
}

.navBar .item-bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0px 10px 0 1px;
  background: #779CB4;
}

.navBar .item-bar a {
  text-decoration: none;
  color: #fff;
}

.navBar .item-bar:nth-of-type(1) {
  background: #e67e22;
}

.navBar .item-bar:nth-of-type(1):hover {
  background: #da6804;
}

.navBar .item-bar:nth-of-type(2):after {
  content: "1";
  position: absolute;
  top: 0;
  right: -5px;
  height: 20px;
  width: 20px;
  background: #e74c3c;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.322);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  box-sizing: content-box;
  animation: 3s bell ease-in infinite alternate;
}

.navBar .item-bar:nth-of-type(3):after {
  content: "10";
  position: absolute;
  top: 0;
  right: -5px;
  height: 20px;
  width: 20px;
  background: #2ecc71;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.322);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
}

.navBar .item-bar:nth-of-type(3):before {
  content: "";
  position: absolute;
  top: -3px;
  right: -8px;
  height: 20px;
  width: 20px;
  border: 3px solid #2ecc71;
  border-radius: 50%;
  animation: 2s aument linear infinite;
}

.navBar .item-bar:nth-of-type(4):after {
  content: "3";
  position: absolute;
  top: 0;
  right: -5px;
  height: 20px;
  width: 20px;
  background: #f39c12;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.322);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  animation: 3s bell ease-in infinite alternate;
}

.navBar .item-bar:hover {
  background: #206492;
}

.navBar .bar-right {
  display: flex;
  flex-direction: row;
}

.navBar .bar-right .search {
  margin: 8px 0;
}

.navBar .bar-right .search input {
  border: 2px solid #95a5a6;
  border-radius: 5px;
  height: 25px;
  text-align: center;
}

.navBar .bar-right .search input:hover {
  animation: .8s bord ease-in forwards;
}

.navBar .bar-right .setting-bar {
  position: relative;
}

.navBar .bar-right .fas {
  color: #95a5a6;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  left: 0;
  top: 5px;
}

.navBar .setting-user {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.navBar .setting-user .img-user img {
  margin: 0 10px;
  width: 50px;
}

.info-user {
  margin: -10px 0 0 0;
}

.info-user .admin {
  color: #e67e22;
  font-weight: 600;
}

.info-user .status {
  font-size: 10px;
  text-align: center;
  margin-top: -10px;
}

/*A N I M A T I O N*/
@keyframes bord {
  25% {
    border-top: 3px solid #f39d126c;
  }
  50% {
    border-right: 3px solid #f39d126c;
  }
  75% {
    border-bottom: 3px solid #f39d126c;
  }
  100% {
    border-top: 3px solid #f39d126c;
    border-right: 3px solid #f39d126c;
    border-bottom: 3px solid #f39d126c;
    border-left: 3px solid #f39d126c;
  }
}

@keyframes bell {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes aument {
  25% {
    opacity: .9;
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: .7;
  }
  55% {
    opacity: .5;
  }
  60% {
    opacity: .4;
  }
  70% {
    opacity: .3;
  }
  80% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*R E S P O N S I V E - W E B*/
@media screen and (max-width: 768px) {
  .home {
    display: inline;
  }
  .home-sidebar {
    background: none;
    position: absolute;
  }
  .navBar {
    z-index: 1000;
  }
}

@media screen and (max-width: 414px) {
  .home {
    display: inline;
  }
  .home-sidebar {
    background: none;
    position: absolute;
  }
  .navBar {
    z-index: 1000;
    padding: 15px 30px 15px 1px;
  }
  .navBar .item-bar {
    width: 35px;
    height: 35px;
  }
  .navBar .setting-user {
    display: none;
  }
  .navBar .item-bar {
    margin: 0px 5px 0 1px;
  }
}

@media screen and (max-width: 360px) {
  .home {
    display: inline;
  }
  .home-sidebar {
    background: none;
    position: absolute;
  }
  .navBar {
    z-index: 1000;
    padding: 15px 30px 15px 1px;
  }
  .navBar .item-bar {
    width: 35px;
    height: 35px;
  }
  .navBar .setting-user {
    display: none;
  }
  .navBar .item-bar {
    margin: 0px 5px 0 1px;
  }
}

.home-sidebar {
  z-index: 99;
}

.lading-page {
  width: 1fr;
}

.contenedor {
  z-index: 1;
  width: 90%;
  margin: 15px auto;
}

.elemento {
  border-radius: 5px;
  width: 200px;
  background: #fff;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
  overflow: hidden;
}

.elemento img {
  width: 200px;
}

@media screen and (max-width: 2000px) {
  .navBar {
    z-index: 3;
  }
}

@media screen and (max-width: 800px) {
  .home-sidebar {
    z-index: 2;
  }
  .sidebar {
    z-index: 3;
  }
  .navBar {
    z-index: 4;
  }
}

@media screen and (max-width: 414px) {
  .contenedor {
    width: 50%;
  }
}
