@charset "UTF-8";
/*V A R I  A B L E S - G L O B A L*/
/*N A V - B A R*/
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.home {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "sidebar principal" "sidebar principal";
}

.home.active {
  grid-template-areas: "principal principal" "principal principal";
}

.home-sidebar {
  color: #B7C5CA;
  background: #222D33;
  grid-area: sidebar;
}

.home-sidebar.active {
  display: none;
}

.home-sidebar .logo {
  display: block;
  text-align: center;
  justify-content: center;
  color: #fff;
  position: sticky;
  top: 20px;
}

.home-sidebar p {
  margin-top: -20px;
}

.home-sidebar .sideBar {
  position: fixed;
  width: 230px;
  list-style: none;
}

.home-sidebar .sideBar .item a {
  font-weight: 450;
  text-decoration: none;
  color: #B7C5CA;
}

.home-sidebar .sideBar .item a:hover {
  transition: color 1.5s;
  transition: text-shadow .8s;
  text-shadow: 0px 0px 10px #757575;
  color: #fff;
}

.item {
  border-top: 3px solid #73797e;
  overflow: hidden;
}

.item .btn {
  display: block;
  padding: 16px 20px;
  position: relative;
  background: #1E272C;
}

.item .btn:after {
  z-index: 9;
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #1E272C;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.item .btn i {
  margin-right: 10px;
}

.item:target .smenu {
  max-height: 10em;
}

.smenu {
  background: #2A3B43;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0px;
}

.smenu a {
  display: block;
  padding: 16px 26px;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}

.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #B7C5CA;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}

.smenu a:hover:before {
  opacity: 1;
}

.smenu .active {
  background: rgba(72, 82, 87, 0.856);
  z-index: 1;
}

.navBar {
  grid-area: navBar;
  box-shadow: 0px 5px 20px #888888;
  background: #fff;
  position: sticky;
  top: 0;
}

.lading-page {
  grid-area: work;
}

.principal {
  background: #F0F0F0;
  grid-area: principal;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "navBar navBar" "work work";
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 30px 15px 1px;
}

.navBar a {
  text-decoration: none;
}

.navBar .bar-left {
  display: flex;
  flex-direction: row;
}

.navBar .item-bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0px 10px 0 1px;
  background: #779CB4;
}

.navBar .item-bar a {
  text-decoration: none;
  color: #fff;
}

.navBar .item-bar:nth-of-type(1) {
  background: #e67e22;
}

.navBar .item-bar:nth-of-type(1):hover {
  background: #da6804;
}

.navBar .item-bar:nth-of-type(2):after {
  content: "1";
  position: absolute;
  top: 0;
  right: -5px;
  height: 20px;
  width: 20px;
  background: #e74c3c;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.322);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  box-sizing: content-box;
  animation: 3s bell ease-in infinite alternate;
}

.navBar .item-bar:nth-of-type(3):after {
  content: "10";
  position: absolute;
  top: 0;
  right: -5px;
  height: 20px;
  width: 20px;
  background: #2ecc71;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.322);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
}

.navBar .item-bar:nth-of-type(3):before {
  content: "";
  position: absolute;
  top: -3px;
  right: -8px;
  height: 20px;
  width: 20px;
  border: 3px solid #2ecc71;
  border-radius: 50%;
  animation: 2s aument linear infinite;
}

.navBar .item-bar:nth-of-type(4):after {
  content: "3";
  position: absolute;
  top: 0;
  right: -5px;
  height: 20px;
  width: 20px;
  background: #f39c12;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.322);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  animation: 3s bell ease-in infinite alternate;
}

.navBar .item-bar:hover {
  background: #206492;
}

.navBar .bar-right {
  display: flex;
  flex-direction: row;
}

.navBar .bar-right .search {
  margin: 8px 0;
}

.navBar .bar-right .search input {
  border: 2px solid #95a5a6;
  border-radius: 5px;
  height: 25px;
  text-align: center;
}

.navBar .bar-right .search input:hover {
  animation: .8s bord ease-in forwards;
}

.navBar .bar-right .setting-bar {
  position: relative;
}

.navBar .bar-right .fas {
  color: #95a5a6;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  left: 0;
  top: 5px;
}

.navBar .setting-user {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.navBar .setting-user .img-user img {
  margin: 0 10px;
  width: 50px;
}

.info-user {
  margin: -10px 0 0 0;
}

.info-user .admin {
  color: #e67e22;
  font-weight: 600;
}

.info-user .status {
  font-size: 10px;
  text-align: center;
  margin-top: -10px;
}

/*A N I M A T I O N*/
@keyframes bord {
  25% {
    border-top: 3px solid #f39d126c;
  }
  50% {
    border-right: 3px solid #f39d126c;
  }
  75% {
    border-bottom: 3px solid #f39d126c;
  }
  100% {
    border-top: 3px solid #f39d126c;
    border-right: 3px solid #f39d126c;
    border-bottom: 3px solid #f39d126c;
    border-left: 3px solid #f39d126c;
  }
}

@keyframes bell {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes aument {
  25% {
    opacity: .9;
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: .7;
  }
  55% {
    opacity: .5;
  }
  60% {
    opacity: .4;
  }
  70% {
    opacity: .3;
  }
  80% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*R E S P O N S I V E - W E B*/
@media screen and (max-width: 768px) {
  .home {
    display: inline;
  }
  .home-sidebar {
    background: none;
    position: absolute;
  }
  .navBar {
    z-index: 1000;
  }
}

@media screen and (max-width: 414px) {
  .home {
    display: inline;
  }
  .home-sidebar {
    background: none;
    position: absolute;
  }
  .navBar {
    z-index: 1000;
    padding: 15px 30px 15px 1px;
  }
  .navBar .item-bar {
    width: 35px;
    height: 35px;
  }
  .navBar .setting-user {
    display: none;
  }
  .navBar .item-bar {
    margin: 0px 5px 0 1px;
  }
}

@media screen and (max-width: 360px) {
  .home {
    display: inline;
  }
  .home-sidebar {
    background: none;
    position: absolute;
  }
  .navBar {
    z-index: 1000;
    padding: 15px 30px 15px 1px;
  }
  .navBar .item-bar {
    width: 35px;
    height: 35px;
  }
  .navBar .setting-user {
    display: none;
  }
  .navBar .item-bar {
    margin: 0px 5px 0 1px;
  }
}

/*-------------C O N T E N I D O--------

-  maquetado con grid del lading-page

-  maquetado de estadisticas
    -  posicion del contenido .ico/informacion

-  maquetado del slider

-  lang-c Contenido de el div de informacion de c++

-  porcent contenidos en porcentajes del repositorio
    -animaciones

-  footer

- resposive web
--------------------------------------*/
/*• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •*/
/*  • • • • • • • • A R E A S - G R I D  • • • • • • • • • • • • • • • •*/
/*• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •*/
.lading-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 290px;
  grid-template-rows: 120px 170px 150px 150px 50px;
  grid-template-areas: "estadisticas estadisticas estadisticas  estadisticas" "slider slider slider languageC" "slider slider slider porcent" "slider slider slider porcent" "footer footer footer footer";
  grid-gap: 30px;
  margin: 40px 20px 0 20px;
}

.estadisticas {
  grid-area: estadisticas;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*I M A G E - I C O*/
  /*I N F O*/
}

.estadisticas .numbers {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(121, 120, 120, 0.5);
  box-shadow: 1px 1px 5px rgba(119, 118, 118, 0.185);
  background: #fff;
  display: flex;
  /*S E L E C C I O N*/
}

.estadisticas .numbers:nth-of-type(3) {
  border: 1px solid #b6c7f6;
  background: #388bf8;
}

.estadisticas .numbers:nth-of-type(3) .number-info {
  color: #fff;
}

.estadisticas .number-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 50%;
}

.estadisticas .number-ico .ico-cir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #e67e22;
}

.estadisticas a {
  width: 40px;
  text-decoration: none;
  color: #fff;
}

.estadisticas .number-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #3f3d3d;
}

.estadisticas .number-info .nInfo {
  color: #000;
  font-size: 30px;
  margin: 0;
}

.slider {
  background: #fff;
  border: 1px solid rgba(121, 120, 120, 0.5);
  box-shadow: 1px 1px 5px rgba(119, 118, 118, 0.185);
  border-radius: 5px;
  grid-area: slider;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider .cabezera-slider {
  align-self: flex-start;
  padding-left: 40px;
  font-size: 20px;
}

.slider .slider-img {
  height: 400px;
}

.slider .slider-img img {
  height: 400px;
}

.lang-c {
  background: #fff;
  border: 1px solid rgba(121, 120, 120, 0.5);
  box-shadow: 1px 1px 5px rgba(119, 118, 118, 0.185);
  border-radius: 5px;
  grid-area: languageC;
  padding: 15px;
}

.lang-c .line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-c .line1 a {
  text-align: center;
  width: 50px;
  background: #2793D8;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  padding: 3px;
}

.lang-c .line1 a:hover {
  background: #0fb8d3;
}

.lang-c .line2 {
  color: #7e7e7e;
  margin-top: -15px;
  font-size: 20px;
  font-weight: 100;
}

.lang-c .line3 {
  color: #7e7e7e;
  text-align: center;
}

.porcent {
  border: 1px solid rgba(121, 120, 120, 0.5);
  box-shadow: 1px 1px 5px rgba(119, 118, 118, 0.185);
  border-radius: 5px;
  grid-area: porcent;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  /*Gradientes*/
  /*A N I M A C I O N*/
  /*Brillo*/
}

.porcent p {
  font-weight: 600;
  text-align: center;
}

.porcent .progress-bar {
  background-color: #1a1a1a;
  height: 20px;
  padding: 10px;
  width: 250px;
  margin: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000;
}

.porcent .progress-bar span {
  display: inline-block;
  text-align: center;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width .4s ease-in-out;
  background: #ccc;
}

.porcent .blue span {
  background-color: #34c2e3;
}

.porcent .green span {
  background-color: #a5df41;
}

.porcent .orange span {
  background-color: #fecf23;
}

.porcent .stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  animation: animate-stripes 3s linear infinite;
}

.porcent .shine span {
  position: relative;
}

.porcent .shine span::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 20s ease-out infinite;
}

/*-----------------------------------------------------*/
/*A N I M A C I O N */
/*-----------------------------------------------------*/
@keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}

/*-----------------------------------------------------*/
.footer {
  grid-area: footer;
  display: flex;
  border: 1px solid rgba(121, 120, 120, 0.5);
  box-shadow: 1px 1px 5px rgba(119, 118, 118, 0.185);
  justify-content: space-between;
  background: #fff;
  margin: 0 -20px;
  padding: 0 20px;
}

/*----------------------------------------------------------------------- 
|    R E S P O N S I V E
\-------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .slider .slider-img {
    height: 300px;
  }
  .slider .slider-img img {
    height: 300px;
  }
}

@media screen and (max-width: 414px) {
  .estadisticas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
  }
  .lading-page {
    grid-template-columns: 1fr;
    grid-template-rows: 320px 1fr 150px 1fr 80px;
    grid-template-areas: "estadisticas" "slider" "languageC" "porcent" "footer";
  }
}
