//
// ────────────────────────────────────────────────────────────────────────────────────────────────── I ──────────
//   :::::: V A R I A B L E S   S I D E B A R   A N D   M E N U B A R : :  :   :    :     :        :          :
// ────────────────────────────────────────────────────────────────────────────────────────────────────────────
//
$background_menu:#222D33;
$whites:#fff;
$color_sBar:#1E272C;
$inside_sB:#2A3B43;
$inside_active:rgba(72, 82, 87, 0.856);
$btn_color:#779CB4;
$btn_color_hover:#206492;
$btn_menu:#e67e22;
$btn_menu_hover:#da6804;
$color_principal:#F0F0F0 ;
$font:sans-serif;


// ────────────────────────────────────────────────────────────────────────────────

